.venv/
__pycache__/
*.pyc
*.pdf
*.egg-info/
mendelcell.egg-info/

.DS_Store

rna_single_cell_cluster.tsv
rna_single_cell_clusters.tsv
rna_single_cell_cluster.tsv.zip
rna_single_cell_clusters.tsv.zip
rna_single_cell_type.tsv
rna_single_cell_type.tsv.zip

mendelcell_output/

